html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.body{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.opcoes-celulares a:hover{
    color: red;
}
.opcoes-celulares a:active{
    color: red;
}
.opcoes-celulares tr,td, a{
    color: black;
    font-size: 22px;
    font-style: italic;
    font-feature-settings: normal;
    text-align: center;
    padding-top:  center;
    
}
.painel{
    margin: 10px 0;

    padding: 100px;
    padding-right: 100px;
    padding-left: 100px;    
    width: 650px;
background-color: #D3D3D3;
}



article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: white;
	color: #636363;
	padding-top: 15px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

a {
	color: #08C;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

#container {
	width: 960px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Header */
#container > header {
	padding: 0 0.8em;
	height: 90px;
}

header div#logo {
	float: left;
	color: white;
	padding-top: 0.9em;
	font-size: 2em;
	font-style: italic;
	font-family: Georgia;
}

header nav {
	float: right;
}

header nav ul {
	margin: 0;
	padding: 0;
	float: right;
}

header nav ul li {
	float: left;
	padding: 2.5em 0 2.5em 2em;
}

header nav ul li a,
header nav ul li a:visited {
	font-size: 0.9em;
	text-decoration: none;
	color: white;;
}

header nav ul li a.active,
header nav ul li a:focus,
header nav ul li a:hover {
	color: green;
}




section#page-text {
	padding: 30px;
	font-size: 0.9em;
	background: white;
	box-shadow: 0 1px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
	-o-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
	border-bottom: 1px solid white;
	text-align: center;
}

section#page-text:before, section#page-text:after { content: ""; display: table; }
section#page-text:after { clear: both; }
section#page-text { *zoom: 1; }

#container > div:before, #container > div:after { content: ""; display: table; }
#container > div:after { clear: both; }
#container > div { *zoom: 1; }

section#page-text > h1 {
	text-align: center;
	font-size: 1.4em;
	margin: 0.8em 0 1.6em;
}

section#page-text section h1 {
	font-size: 1.2em;
	margin: 1em 0 1em 5px;
	text-align: left;
}

section#page-text article {
	padding: 1.5em 0;
	border-top: 1px dotted #DDD;
}

section#page-text article header {
	padding: 0;
}

section#page-text article header p {
	font-size: 0.8em;
}

section#page-text article h1 {
	text-align: left;
	font-weight: 500;
	font-size: 1.2em;
}

section#page-text > h1:before,
section#page-text > h1:after {
	content: '~';
	padding: 0 0.4em;
	color: #BABABA;
}

section#cel1,
section#cel2,
section#cel3,
section#cel4,
section#cel5,
section#cel6,
section#cel7{
	width: 300px;
	float: left;
	padding-bottom: 1.2em;
}

section#cel1 h2,
section#cel2 h2,
section#cel3 h2,
section#cel4 h2,
section#cel5 h2,
section#cel6 h2,
section#cel7 h2{
	margin-top: 1em;
}

section#cel1 h1,
section#cel2 h1,
section#cel3 h1,
section#cel4 h1,
section#cel5 h1,
section#cel6 h1,
section#cel7 h1{
	text-align: center !important;
}

section#cel1 p,
section#cel2 p,
section#cel3 p,
section#cel4 p,
section#cel5 p,
section#cel6 p,
section#cel7 p{
	text-align: center !important;
}


section#cel1 img,
section#cel2 img,
section#cel3 img,
section#cel4 img,
section#cel5 img,
section#cel6 img,
section#cel7 img{
	width: 280px;
	height: 160px;
	background: #BABABA;
}

#menu-tables {
	float: left;
	width: 70%;
}

#menu-images {
	float: right;
	width: 240px;
	margin-left: 30px;
}

#menu-images figure {
	margin-bottom: 2em;
}

#menu-images figcaption {
	font-family: Georgia, serif;
	margin-top: 0.5em;
	font-style: italic;
}

#menu-images img {
	max-width: 100%;
}



table caption {
	text-align: left;
	padding-left: 5px;
	margin-bottom: 1em;
}
section#page-text dl {
	margin: 0;
	padding: 0;
}

section#page-text dt {
	padding-top: 1em;
	font-size: 0.9em;
}

section#page-text dd {
	padding: 0.3em 0;
}
section#home-text {
	float: left;
	width: 542px;
	padding: 15px;
	font-size: 0.9em;
	background: white;
	box-shadow: 0 1px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
	-o-box-shadow: 0 1px 10px rgba(0,0,0,0.3);
	border-bottom: 1px solid white;
}

section#home-text h1 {
	font-weight: bold;
	margin-bottom: 0.8em;
}

section#home-text p,
section#page-text p {
	line-height: 1.4em;
	margin: 0.8em 0 0;
	text-align: justify;
}
section#cel1.nearest,
section#cel2.nearest,
section#cel3.nearest,
section#cel4.nearest,
section#cel5.nearest,
section#cel6.nearest,
section#cel7.nearest{
	width: 298px;
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; 
}


.pesquisas > imagem {
    display: flex;
   
}
.pesquisas{
    padding-top: 1px;
    padding-right: 10px;
    text-align: right;
     
}
.imagem{
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}
.form{
    margin-right: 25px;
}
.button{
    margin-left: -4px;
    background-color: RED;
}
.footer{
 text-align: center;
    padding-top: 24px;
}